<%- include('./include/begin.ejs') %>
<style>
    .center{
        position:absolute;
        width:780px;
        height:650px;
        left:50%;
        top:50%;
        margin-left:-370px;
        margin-top:-50px;
    }
    .p1 {
        font-family: "Times New Roman", Times, serif;
    }

    .p2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .p3 {
        font-family: "Lucida Console", "Courier New", monospace;
    }

</style>
<div class="fst-italic row d-flex justify-content-end mb-3">
    <pre><br>
<h1 dir="rtl" class="center p1"><%= message90 %></h1>
        </pre>
</div>