
<%- include('./include/begin.ejs') %>
<haed>

    <style>
        .collapsible {

            cursor: pointer;
            padding: 4px;
            width: 7%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active, .collapsible:hover {

        }
        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
        .card{
            box-shadow: 0 0 100px rgba(0,0,0,0.2);

        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    </style>
    <script src="/js/requestsDirected.js"></script>

</haed>
<body>
<header id="header" class="fixed-top d-flex align-items-center  header">
    <div  dir="rtl" class="container d-flex align-items-center justify-content-between  ">

        <nav id="navbar" class="navbar ">
            <ul>
                <li><a class="nav-link scrollto " href="/loginBank/menuBank">דף הבית</a></li>>
                <li><a class="nav-link scrollto active" href="#requestsDirected">בקשות מופנות</a></li>
                <li><a class="nav-link scrollto" href="/index">יציאה</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->



<section id="requestsDirected" class="contact">
    <div class="container">
        <div class="row text-center  ">
            <p class="col-lg-12 a "><h1 class="">בקשות מופנות</h1></p>
        </div>
        <div  class=" text-end fst-italic row d-flex justify-content-end mb-3 ">


            <div dir="rtl"  style="max-width: 50rem;" id="requests" >


            </div>

        </div></div>
</section>
<%- include('./include/end.ejs') %>
</body>
</html>

