<%- include('./include/begin.ejs') %>
<haed>

    <style>
        .card{
            box-shadow: 0 0 100px rgba(0,0,0,0.2);

        }
        input[type=submit] {
            width: 65%;
            /*background-color: #4CAF50;*/
            /*color: white;*/
            padding: 14px 20px;
            /*margin: 8px 0;*/
            /*border: none;*/
            /*border-radius: 4px;*/
            /*cursor: pointer;*/
        }
    </style>
    <script src="/js/trackRequest.js"></script>

</haed>
<body>
<div class="row text-center md-3">
    <div class="col-lg-12  "><h1><b>מעקב אחר בקשות</b></h1></div>
</div>
<section id="contact" class="contact">
    <div class="container">
<div  class="  fst-italic row d-flex justify-content-end mb-3 ">

<div dir="rtl" style="max-width: 50rem;" id="chani" >


</div>

</div></div></section>
</body>
</html>