<%- include('./include/begin.ejs') %>
<haed>

    <style>
        .card{
            box-shadow: 0 0 100px rgba(0,0,0,0.2);

        }
        input[type=submit] {
            width: 65%;
            padding: 14px 20px;
        }

    </style>
    <script src="/js/trackRequest.js"></script>

</haed>
<body>

<header id="header" class="fixed-top d-flex align-items-center  header">
    <div  dir="rtl" class="container d-flex align-items-center justify-content-between  ">

        <nav id="navbar" class="navbar ">
            <ul>
                <li><a class="nav-link scrollto " href="/register/menuLogin">דף הבית</a></li>
                <li><a class="nav-link scrollto " href="/clientMainPage/question">מילואי שאלון</a></li>
                <li><a class="nav-link scrollto " href="/clientMainPage/files">צרוף מסמכים</a></li>
                <li><a class="nav-link scrollto active" href="#trackRequest">מעקב אחר בקשות</a></li>
                <li><a class="nav-link scrollto" href="/index">יציאה</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->



    </div>
</header><!-- End Header -->


<section id="trackRequest" class="contact">
    <div class="container">
        <br>
        <div class="row text-center ">
            <p  class="col-lg-12 c "><h3 class="c">מעקב אחר בקשות</h3></p>
        </div>

        <div  class=" text-end fst-italic row d-flex justify-content-end mb-3 ">

        <div dir="rtl" style="max-width: 50rem;" id="trackRequest2" >

</div>

        </div></div>
</section>
</body>
</html>