<div class="section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>Contact Us</p>
</div>

    <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
        <div class="info">
            <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Israel, Jerusalem</p>
            </div>

            <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>devora2040@gmail.com</br>
                    chaniexo16@gmail.com</p>
            </div>

            <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>0509117060</br>
                    0556873001</p>
            </div>

        </div>

    </div>

