<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/questionRoute/question16" >

<div>
    <a>פרוט הכנסות נוספות</a>
</div>

<div class=" col-lg-6 mb-3 ">
<select type="text" class="form-select" id="typeOfCommitment">
    <label for="typeOfCommitment" class="form-label">סוג התחיבות</label>
    <option class="">בחרו</option>
    <option class="" value="bankLoan">הלוואה בנקאית</option>
    <option class="" value="nonBankLoan">הלוואה חוץ בנקאית</option>
    <option class="" value="mortgage">משכנתא על נכס אחר</option>
    <option class="" value="paymentOfAlimony">תשלום דמי מזונות</option>
    <option class="" value="paymentOfRent">תשלום שכר דירה</option></select>
</div>

<div>
    <label for="MonthlyPayment" class="form-label">תשלום חודשי</label>
    <input type="text" placeholder="לדוגמה 2,000" required="" max="1000000" pattern="[0-9]*" id="MonthlyPayment" value="">
</div>
<!--<span>+ הוסיפו הכנסה</span>-->

<div class="col-lg-3 mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next15" >המשך</button>
</div>
</form>

</body>
</html>