
<div class="input-group">
    <select type="text" class="form-select" id="question" name="ifThereComplexity" required multiple >
        <option selected disabled value="" >האם ידוע על מורכבות כלשהי בעסקה</option>
        <option value="1">אין/ לא ידוע לי</option>
        <option value="3">יש בנכס הנרכש חריגות בניה</option>
        <option value="4">אנו רוכשים דירת נופש</option>
        <option value="5">הנכס לא נירכש מקבלן ואין לו טופס 4</option>
        <option value="6">אנו עושים רכישה בנאמנות </option>
        <option value="8">תהליך הסדרת זכויות לא הושלם</option>
        <option value="9">אנו רוכשים מכונס נכסים</option>

    </select>
<label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
</div>

<!--<input type="checkbox" name="check1" checked>האם ידוע על מורכבות כלשהי בעסקה</input></br>-->
<!--<div class="md-3">-->
<!--<h6><b>האם ידוע על מורכבות כלשהי בעסקה</b></h6>-->
<!--<input type="checkbox" name="check2" checked >אין/ לא ידוע לי</input></br>-->
<!--<input type="checkbox" name="check3" >האם ידוע על מורכבות כלשהי בעסקה</input></br>-->
<!--<input type="checkbox" name="check4" >אני רוכש/ת מבן משפחה</input></br>-->
<!--<input type="checkbox" name="check5" >יש בנכס הנרכש חריגות בניה</input></br>-->
<!--<input type="checkbox" name="check6" >אנו רוכשים דירת נופש</input></br>-->
<!--<input type="checkbox" name="check7" >הנכס לא נירכש מקבלן ואין לו טופס 4</input></br>-->
<!--<input type="checkbox" name="check8" >אנו עושים רכישה בנאמנות</input></br>-->
<!--<input type="checkbox" name="check9" >נכס במושעא</input></br>-->
<!--<input type="checkbox" name="check8" >תהליך הסדרת זכויות לא הושלם</input></br>-->
<!--<input type="checkbox" name="check8" >אנו רוכשים מכונס נכסים</input></br>-->
<!--<input type="checkbox" name="check8" >רכישה בגירושין</input>-->
<!--</div><br>-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="text-center col-lg-10 mb-3 mt-md-3">-->
<!--    <input type="submit" value="המשך" class="btn btn-outline-primary mb-3" id="next1" >-->
<!--</div>-->


<!--</form>-->
<!--    </div>-->

<!--</div>-->
<!--    </div>-->
<!--</section>-->



<!--<script>-->
<!--    document.getElementById("next1").addEventListener('click',function(){-->
<!--        let question = document.getElementById("question");-->
<!--        console.log(question.value);-->
<!--        console.log("ןמיןלמןל");-->
<!--        //req.session.complexity=-->
<!--        //validate-->
<!--        //save in session-->
<!--        //hide current queshtion-->
<!--        //toggle next-->
<!--    })-->
<!--</script>-->


<!--</body>-->
<!--</html>-->