<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/questionRoute/question17" >

 האם היו בעיות בהתנהלות פנססית
</form>
</body>
</html>