
<!--<body>-->
<!--<section id="contact" class="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8  form-group mb-3">-->
<!--                <form method="get" action="/questionRoute/question14" >-->
<!--<div>-->
<div class="row d-none " id="revenue">
<div class=" col-lg-5 mb-3 ">
    <select type="text" class="form-select" id="typeOfIncome">
    <option class="">סוג הכנסה</option>
    <option class="" value="foods">מזונות</option>
    <option class="" value="scholarship">מלגה</option>
    <option class="" value="rent">שכירות</option>
    <option class="" value="allowances">קצבאות</option><
    </select>
    </div>

<div class=" col-lg-4 mb-3 ">
    <div class="input-group">
        <!--    <label for="MonthlyIncomeLevel" class="form-label">גובה הכנסה חודשית</label>-->
    <input class="form-control" type="number"  required placeholder="גובה הכנסה חודשית" max="1000000" pattern="[0-9]*" id="MonthlyIncomeLevel" >
        <span class="input-group-text">₪</span>
    </div>
</div>

</div>
<!--<span>+ הוסיפו הכנסה</span>-->

<!--<div class="col-lg-3 mb-3">-->
<!--    <button type="button" class="btn btn-outline-primary mb-3" id="next13" >המשך</button>-->
<!--</div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->