<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/questionRoute/question21" >

<div class="col-lg-3 mb-3">

    <label for="howMuchWillYouPay" class="form-label"> כמה תרצו לשלם בכל חודש</label>
    <input type="text" placeholder="לדוגמה 3,000" required="" max="1000000" pattern="[0-9]*" id="howMuchWillYouPay" value="">
</div>
<div class="col-lg-3 mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next20" >המשך</button>
</div>
</form>
</body>
</html>