<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/questionRoute/question20" >

בכמה חודשים תרצו לדחות את ההחזר החודשי
<div class="col-lg-3 mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next17" >המשך</button>
</div>
</form>

</body>
</html>