<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="mb-3">-->
<!--    <label for="question7" class="form-label">כמה אנשים משתתפים במשכנתא?</label>-->
<!--    <input type="text" class="form-control" id="question7">-->
<!--</div>-->
<form method="get" action="/questionRoute/question8" >

<div class="form-group mb-3">
    <label for="question7" class="form-label">כמה אנשים משתתפים שמשכנתא?</label>
    <select type="text" class="form-select" id="question7">
        <option value="0">בחר ערך</option>
        <option value="I">אני</option>
        <option value="myPartnerAndI">אני ובן/ בת זוגי </option>
        <option value="iAndPartners">אני ושותפים</option>
    </select>
</div>
    <div class="text-center col-lg-10 mb-3 mt-md-3">
        <input type="submit" value="המשך" class="btn btn-outline-primary mb-3" id="next7" >
    </div>
</form>
</body>
</html>