
<!--<body>-->
<!--<section id="contact" class="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8  form-group mb-3">-->
<!--<form method="get" action="/questionRoute/question7" >-->

<div class="mb-3">
<!--    <label for="question6" class="form-label">לפני שממשיכים?</label>-->
    <input type="text" class="form-control" id="question6" placeholder="לפני שממשיכים?">
</div>
<!--    <div class="text-center col-lg-10 mb-3 mt-md-3">-->
<!--        <input type="submit" value="המשך" class="btn btn-outline-primary mb-3" id="next6" >-->
<!--    </div>-->
<!--</form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->