<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-group mb-3">
    <label for="question1" class="form-label">האם ידוע על מורכבות כלשהי בעסקה</label>
    <select type="text" class="form-select" id="question1">
        <option value="0">בחר ערך</option>
        <option value="1">אין/ לא ידוע לי</option>
        <option value="2">אני רוכש/ת מבן משפחה </option>
        <option value="3">יש בנכס הנרכש חריגות בניה</option>
        <option value="4">אנו רוכשים דירת נופש</option>
        <option value="5">הנכס לא נירכש מקבלן ואין לו טופס 4</option>
        <option value="6">אנו עושים רכישה בנאמנות </option>
        <option value="7">נכס במושעא</option>
        <option value="8">תהליך הסדרת זכויות לא הושלם</option>
        <option value="9">אנו רוכשים מכונס נכסים</option>
        <option value="9">רכישה בגירושין</option>

    </select>
</div>
<div class="mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next" >המשך</button>
</div>

</body>
</html>