
<!--<body>-->
<!--<section id="contact" class="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8  form-group mb-3">-->
<!--<form method="get" action="/questionRoute/question18" >-->

<!--<div>-->
<!--    <a>פרוט הבעיות בהתנהלות פנססית</a>-->
<!--</div>-->
<div class=" row d-none " id="problem">

<div class=" col-lg-5 mb-3" >
    <div class="input-group">
    <select type="text" class="form-select" id="problemType">
        <option class="">סוג בעיה</option>
    <option  value="checks">שיקים ללא כיסוי</option>
    <option value="loans">הלוואות בפיגור</option>
    <option  value="execution">הוצאה לפועל</option>
    <option  value="limitedAccount">חשבון מוגבל</option>
</select>
    <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
    </div>
</div>

   <div class=" col-lg-4 mb-3">
    <div class="input-group">
        <select type="text" class="form-select" id="seniorityInWork">
            <option value="02">מתי בפעם האחרונה?</option>
            <option value="lessThanHaifYear">פחות מחצי שנה</option>
            <option value="betweenHaifYearAndYear">בין חצי שנה לשנה</option>
            <option value="betweenOnYearAndThreeYears">בין שנה לשלוש שנים</option>
            <option value="OverHisYears">מעל שלוש שנים</option>
        </select>
        <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
    </div>
   </div>
</div>


<!--להוסיף לפני סוג הבעיה-->
<!--    &lt;!&ndash;<span>+ הוסיפו הכנסה</span>&ndash;&gt;-->

<!--    <div class="col-lg-3 mb-3">-->
<!--        <button type="button" class="btn btn-outline-primary mb-3" id="next17" >המשך</button>-->
<!--    </div>-->

<!--</form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->