<div class="input-group">
    <select selected type="text" class="form-select" id="question" name="propertyType" required>
        <option  value="0">מהו סוג הנכס</option>
        <option value="1">דירה מקבלן</option>
        <option value="2">דירה מחיר למשתכן </option>
        <option value="3">דירה יד שניה</option>
        <option value="4">בית פרטי</option>
        <option value="5">בית בבניה עצמית</option>
        <option value="6">מגרש</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
</div>
</div><br><br><br>