<div class="  col-lg-6 mb-3" id="salary14" >
    <div class=" input-group" >
        <!--    <label for="monthlySalary" class="form-label">משכורת חודשית</label>-->
        <input type="text" class="form-control" required  placeholder="גובה קיצבת הפנסיה" pattern="[0-9]*" inputmode="numeric" id="monthlySalary3">
        <span class="input-group-text">₪</span>
    </div>
</div>