
<!--<body>-->
<!--<section id="contact" class="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8  form-group mb-3">-->
<!--<form method="get" action="/questionRoute/question4" >-->

<div class=" input-group mb-3">
<!--    <label for="question3" class="form-label">מה השווי של הנכס הנרכש?</label>-->
    <input type="text" class="form-control" name="valueOfTheConference" id="question3" placeholder="מה השווי של הנכס הנרכש?">
    <span class="input-group-text">₪</span>

</div>
<!--    <div class="text-center col-lg-10 mb-3 mt-md-3">-->
<!--        <input type="submit" value="המשך" class="btn btn-outline-primary mb-3" id="next3" >-->
<!--    </div>-->
<!--</form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->