<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/questionRoute/question3" >

<div class="mb-3">
    <label for="question2" class="form-label">כמה תשלמו על הנכס (מחיר לאחר הנחה)?</label>
    <input type="text" class="form-control" id="question2">
</div>
<div class="text-center col-lg-10 mb-3 mt-md-3">
    <input type="submit" value="המשך" class="btn btn-outline-primary mb-3" id="next2" >
</div>
</form>
<!--<script>-->
<!--    document.getElementById().addEventListener('click',{-->
<!--        //validate-->
<!--        //save in session-->
<!--        //hide current queshtion-->
<!--        //toggle next-->
<!--    })-->
<!--</script>-->
</body>
</html>