
<!--<body>-->
<!--<section id="contact" class="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8  form-group mb-3">-->
<!--<div class="mb-3">-->
<!--    <label for="question7" class="form-label">כמה אנשים משתתפים במשכנתא?</label>-->
<!--    <input type="text" class="form-control" id="question7">-->
<!--</div>-->
<!--<form method="get" action="/questionRoute/question8" >-->

<div class="form-group mb-3">
<!--    <label for="question7" class="form-label">כמה אנשים משתתפים שמשכנתא?</label>-->
    <select type="text" class="form-select" id="question7" onclick={question}>
        <option value="0">כמה אנשים משתתפים שמשכנתא?</option>
        <option name="I" value="1">אני</option>
        <option name="myPartnerAndI" value="2">אני ובן/ בת זוגי </option>
        <option name="iAndPartners" value="3">אני ושותפים</option>
    </select>
</div>
<!--    <div class="text-center col-lg-10 mb-3 mt-md-3">-->
<!--        <input type="submit" value="המשך" class="btn btn-outline-primary mb-3" id="next7" >-->
<!--    </div>-->
<!--</form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--</body>-->
</html>