
<div class="  col-lg-5 mb-3 " id="date">
    <!--    <label for="seniorityInWork" class="form-label">וותק בעבודה</label>-->
    <div class="input-group">
        <select type="text" class="form-select" >
            <option value="02">זמן סיום עבודה אחרונה</option>
            <option value="lessThanHaifYear">פחות מחצי שנה</option>
            <option value="betweenHaifYearAndYear">בין חצי שנה לשנה</option>
            <option value="betweenOnYearAndThreeYears">בין שנה לשלוש שנים</option>
            <option value="OverHisYears">מעל שלוש שנים</option>
        </select>
        <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
    </div>
</div>

<div class="  col-lg-6 mb-3 " id="seniorityInWork4">
    <!--    <label for="seniorityInWork" class="form-label">וותק בעבודה</label>-->
    <div class="input-group">
        <select type="text" class="form-select" >
            <option value="02">וותק בעבודה האחרונה</option>
            <option value="lessThanHaifYear">פחות מחצי שנה</option>
            <option value="betweenHaifYearAndYear">בין חצי שנה לשנה</option>
            <option value="betweenOnYearAndThreeYears">בין שנה לשלוש שנים</option>
            <option value="OverHisYears">מעל שלוש שנים</option>
        </select>
        <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
    </div>
</div>

<div class="  col-lg-6 mb-3" id="salary13" >
    <div class=" input-group" >
        <!--    <label for="monthlySalary" class="form-label">משכורת חודשית</label>-->
        <input type="text" class="form-control" required  placeholder="משכורת חודשית בעבןדה האחרונה" pattern="[0-9]*" inputmode="numeric" id="monthlySalary3">
        <span class="input-group-text">₪</span>
    </div>
</div>

