
<!--<body>-->
<!--<section id="contact" class="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8  form-group mb-3">-->
<!--<form method="get" action="/questionRoute/question12" >-->

<div class=" col-lg-6 mb-3 ">
<div  class="  input-group ">
    <select type="text" class="form-select" id="theBank">
<!--    <label for="theBank" class="form-label">הבנק בו מתנהל החשבון</label>-->
        <option class="" value="0">הבנק בו מתנהל החשבון</option>
        <option class="" value="1">שם הבנק</option>
    <option class="" value="13">אגוד</option>
    <option class="" value="14">אוצר החייל</option>
    <option class="" value="11">דיסקונט</option>
    <option class="" value="17">מרכנתיל</option>
    <option class="" value="31">הבינלאומי</option>
    <option class="" value="12">הפועלים</option>
    <option class="" value="4">יהב</option>
    <option class="" value="54">ירושלים</option>
    <option class="" value="10">לאומי</option>
    <option class="" value="20">מזרחי טפחות</option>
    <option class="" value="46">מסד</option>
    <option class="" value="2">פאג׳י</option>
    <option class="" value="99">אחר</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>

</div>
</div>


<div class=" col-lg-6 mb-3 ">
    <div  class="  input-group ">
<select type="text" class="form-select" id="accountStatus">
<!--    <label for="accountStatus" class="form-label">מצב חשבון ב3 חודשים האחרונים</label>-->
    <option class="" value="0">מצב חשבון ב3 חודשים האחרונים</option>
    <option class="" value="plus">פלוס</option>
    <option class="" value="minus">מינוס</option>
    <option class="" value="deviation">חריגה ממסגרת המינוס</option>
</select>
        <label class="input-group-text" for="inputGroupSelect02">אפשרויות</label>
    </div>
</div>


<!--<div class="col-lg-3 mb-3">-->
<!--    <button type="button" class="btn btn-outline-primary mb-3" id="next11" >המשך</button>-->
<!--</div>-->

<!--</form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->