<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/questionRoute/question13" >

אם יש הכנסות נוספות


<div class="col-lg-3 mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next12" >המשך</button>
</div>

</form>
</body>
</html>