
<!--<body>-->
<!--<section id="contact" class="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8  form-group mb-3">-->
<!--<form method="get" action="/questionRoute/question11" >-->

<div class="mb-3">
<!--    <label for="monthlySalary" class="form-label">מספר ילדים מתית לגיל 18</label>-->
    <input type="number"class="form-control" min="0" pattern="[0-9]*" placeholder="מספר ילדים מתית לגיל " inputmode="numeric"  id="under18s">

</div>

<!--<div class="col-lg-3 mb-3">-->
<!--    <button type="button" class="btn btn-outline-primary mb-3" id="next10" >המשך</button>-->
<!--</div>-->
<!--</form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<!--</body>-->
<!--</html>-->