<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/questionRoute/question18" >

<div>
    <a>פרוט הבעיות בהתנהלות פנססית</a>
</div>
<div class=" col-lg-6 mb-3 ">
    <select type="text" class="form-select" id="problemType">
        <label for="problemType" class="form-label">סוג בעיה</label>
        <option class="">בחרו</option>
    <option class="" value="checks">שיקים ללא כיסוי</option>
    <option class="" value="loans">הלוואות בפיגור</option>
    <option class="" value="execution">הוצאה לפועל</option>
    <option class="" value="limitedAccount">חשבון מוגבל</option>
</select>
</div>
להוסיף לפני סוג הבעיה
    <!--<span>+ הוסיפו הכנסה</span>-->

    <div class="col-lg-3 mb-3">
        <button type="button" class="btn btn-outline-primary mb-3" id="next17" >המשך</button>
    </div>

</form>
</body>
</html>