<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="mb-3">
    <label for="monthlySalary" class="form-label">מספר ילדים מתית לגיל 18</label>
    <input type="number"class="form-control" placeholder="0" pattern="[0-9]*" inputmode="numeric" value="0" id="under18s">

</div>

<div class="col-lg-3 mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next10" >המשך</button>
</div>


</body>
</html>