<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="mb-3">
    <label for="question6" class="form-label">לפני שממשיכים?</label>
    <input type="text" class="form-control" id="question6">
</div>
<div class="mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next6" >המשך</button>
</div>

</body>
</html>