<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a>פרוט הכנסות נוספות</a>
</div>
<div class=" col-lg-6 mb-3 ">
    <select type="text" class="form-select" id="typeOfIncome">
        <label for="typeOfIncome" class="form-label">סוג הכנסה</label>
    <option class="">בחרו</option>
    <option class="" value="foods">מזונות</option>
    <option class="" value="scholarship">מלגה</option>
    <option class="" value="rent">שכירות</option>
    <option class="" value="allowances">קצבאות</option><
    </select>
    </div>

<div>
    <label for="MonthlyIncomeLevel" class="form-label">גובה הכנסה חודשית</label>
    <input type="text" placeholder="לדוגמה 2,000" required="" max="1000000" pattern="[0-9]*" id="MonthlyIncomeLevel" value="">
</div>
<!--<span>+ הוסיפו הכנסה</span>-->

<div class="col-lg-3 mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next13" >המשך</button>
</div>


</body>
</html>