<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class=" col-lg-6 mb-3 ">
    <label for="seniorityInWork" class="form-label">וותק בעבודה</label>
    <select type="text" class="form-select" id="seniorityInWork">
        <option value="02">בחר ערך</option>
        <option value="lessThanHaifYear">פחות מחצי שנה</option>
        <option value="betweenHaifYearAndYear">בין חצי שנה לשנה</option>
        <option value="betweenOnYearAndThreeYears">בין שנה לשלוש שנים</option>
        <option value="OverHisYears">מעל שלוש שנים</option>
    </select>
</div>
<div class="mb-3">
    <label for="monthlySalary" class="form-label">משכורת חודשית</label>
    <input type="text" class="form-control" placeholder="הזינו" required="" pattern="[0-9]*" inputmode="numeric"id="monthlySalary  value="">
</div>

<div class="col-lg-3 mb-3">
    <button type="button" class="btn btn-outline-primary mb-3" id="next9" >המשך</button>
</div>


</body>
</html>