<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class=" col-lg-6 mb-3 ">
    <label for="name" class="form-label">שם מלא</label>
    <input size="10" type="name" class="form-control" name="name" id="name" required>
    <div class="text-danger errormessage "></div>
</div>

<div class="col-lg-6 mb-3">
    <label for="text" class="form-label">password</label>
    <input size="10" type="password" class="form-control" name="password" id="password" required>
    <div class="text-danger errormessage "></div>
</div>
<div class="col-lg-3 mb-3">
    <input type="submit" value="submit" class="btn btn-outline-primary mb-3" id="loginBtn" >
</div>


</body>
</html>